<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;uni-date-picker&gt;</title>
    <link rel="stylesheet" href="../../dist/underwear.css">

    <!-- Imports polyfill -->
    <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
    <!-- Load `declarative-shadow-dom` used in demo snippets -->
    <script defer src="../../assets/declarative-sd.js"></script>

    <!-- Imports custom element -->
    <link rel="import" href="uni-date-picker.html">
    <style>
        html {
            display: flex;
            justify-content: center;
        }

        body {
            max-width: calc(100% - 1em);
        }
        h4 {
            margin: 0.5rem 0;
            font-size: 1.8rem;
        }

        .example{
            display: contents;
        }

        /* Most large desktops and laptops according to MD & UXPin */
        @media screen and (min-width: 1280px) {
            body{
                display: grid;
                /* grid-template-columns: 33% 34% 33%; without a gap gap*/
                grid-template-columns: calc(50% - 1em) calc(50% - 1em);
                grid-column-gap: 2em;
            }
            body > * {
                grid-column: 1 / span 2;
            }
            body>.uniform {
                grid-column: 1;
            }
            body>.uniform-sd {
                grid-column: 2;
            }
        }
    </style>
</head>

<body>
    <h2>Uniform and Uniform in Shadow DOM examples</h2>

    <h3>Plain date picker</h3>

    <div class="uniform"><h4>Uniform</h4><div>
        <uni-date-picker><input type="date"/></uni-date-picker>
    </div></div>
    <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
        <div>
            <input type="date"/>
            <template is="shadow-root">
                <uni-date-picker><slot></slot></uni-date-picker>
            </template>
        </div>
    </div></div>

    <h3>Label for the control</h3>
    <p>
        We try to embrace native HTML Elements composition.
        Use regular <code>&lt;label&gt;</code> element to provide a label to the <code>&lt;input type="date"&gt;</code>.
    </p>
    <p>
        Note that Vaadin date picker includes an implementation of a label within <code>&lt;vaadin-date-picker&gt;</code> via attribute,
         but the Uniform component does not use that.
    </p>
    <div class="uniform"><h4>Uniform</h4><div>
        <label for="uni-input">Pick a date</label>
        <uni-date-picker><input type="date" id="uni-input"/></uni-date-picker>
    </div></div>
    <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
        <label for="uni-sd-input">Pick a date</label>
        <input type="date" id="uni-sd-input" slot="input"/>
        <template is="shadow-root">
            <slot></slot>
            <uni-date-picker><slot name="input"></slot></uni-date-picker>
        </template>
    </div></div>


    <h3>Placeholder attribute</h3>

    <div class="example">
        <div class="uniform"><h4>Uniform</h4><div>
            <uni-date-picker><input type="date" placeholder="Pick a date" /></uni-date-picker>
        </div></div>
        <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
            <input type="date" placeholder="Pick a date" />
            <template is="shadow-root">
                <uni-date-picker><slot></slot></uni-date-picker>
            </template>
        </div></div>
    </div>

    <h3>Pre-selected value</h3>

    <div class="uniform"><h4>Uniform</h4><div>
        <uni-date-picker><label>Birthday</label><input type="date" value="1980-08-14"/></uni-date-picker>
    </div></div>
    <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
        <label>Birthday</label>
        <input type="date" value="1980-08-14"/>
        <template is="shadow-root">
            <!-- You can use default slot or individual slots if you need -->
            <uni-date-picker><slot></slot></uni-date-picker>
        </template>
    </div></div>

    <h3>Disabled and readonly</h3>

    <div class="uniform"><h4>Uniform</h4><div>
        <uni-date-picker><label>Disabled input</label><input disabled type="date" value="1980-08-14"/></uni-date-picker>
        <uni-date-picker><label>Readonly input</label><input readonly type="date" value="1980-08-14"/></uni-date-picker>
    </div></div>
    <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
        <label slot="disabled">Disabled input</label>
        <input slot="disabled" disabled type="date" value="1980-08-14"/>
        <label slot="readonly">Readonly input</label>
        <input slot="readonly" readonly type="date" value="1980-08-14"/>
        <template is="shadow-root">
            <!-- You can use default slot or individual slots if you need -->
            <uni-date-picker><slot name="disabled"></slot></uni-date-picker>
            <uni-date-picker><slot name="readonly"></slot></uni-date-picker>
        </template>
    </div></div>

    <h3>Min and max dates</h3>


    <div class="uniform"><h4>Uniform</h4><div>
        <uni-date-picker>
            <label>June 2017</label>
            <input type="date" min="2017-06-01" max="2017-06-30"/>
        </uni-date-picker>
    </div></div>
    <div class="uniform-sd"><h4>Uniform in shadow root</h4><div>
        <label slot="my-label">June 2017</label>
        <input slot="my-date" type="date" min="2017-06-01" max="2017-06-30"/>
        <template is="shadow-root">
            <!-- You can use default slot or individual slots if you need -->
            <uni-date-picker><slot name="my-date"></slot><slot name="my-label"></slot></uni-date-picker>
        </template>
    </div></div>

    <h3>More demos</h3>
    <ul>
        <li>
            <a href="theming.html">theming and styling</a>
        </li>
        <li>
            <a href="polymer-binding.html">Polymer data binding integration</a>
        </li>
    </ul>


</body>
<script>
    // show code snippets
    document.querySelectorAll('.uniform > div, .uniform-sd > div').forEach((section) => {
        var clonedSection = section.cloneNode(true);
        clonedSection.innerHTML =  '<pre><code>' +
                              section.innerHTML.replace(/</g, '&lt;')
                                            .replace(/>/g,'&gt;')
                                            .replace(/^        /gm,'')
                                            .trim() +
                              '</code></pre>';
        section.insertAdjacentElement('afterend', clonedSection);
    });
</script>

</html>
